<div>
  <h1>Playing App Code Block.</h1>
  <p>Product title is
    <b>{{ product.title }}
    </b>
  </p>
  <p>Price is
    <b>{{ product.price | money }}
    </b>
  </p>
  <button id="click_me">Click me to insert data :</button>
</div>
<script>
  window.onload = function() {
    var script = document.createElement('script');
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js';
    document.getElementsByTagName('head')[0].appendChild(script);
    $(document).ready(function() {
      $("#click_me").on("click", function() {
        $.ajax("https://playing-app-hopiant.herokuapp.com/api/test-api", {
          method: 'GET',
          dataType: 'json',
          timeout: 5000
        }).then(function(responseJSON) {
          console.log(responseJSON.message);
        }).catch(function(err) {
          console.log('Caught an error:' + err.statusText);
        });
      })
    })
  }
</script>

{% schema %}
  {
    "name": "t:blocks.header.name",
    "target": "section",
    "templates": ["product"],
    "stylesheet": "playing-app.css",
    "settings": []
  }
{% endschema %}}}}