div {
  text-align: center;
}
h1 {
  font-size: 30px;
  color: brown;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  display: block;
  font-size: 16 pxp;
  font-weight: 500;
  color: black;
}
p b {
  font-weight: bold;
  color: cadetblue;
  font-size: 20px;
}
