<script>
  window.onload = async function() {
    var script = document.createElement('script');
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js';
    document.getElementsByTagName('head')[0].appendChild(script);
    const fetchOptions = {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    };
    const result = await fetch("/apps/playing-app/api/test-api", fetchOptions);
    const data = await result.json();
    console.log(data);
  }
</script>
<div>
  <h1>Playing App Code Block.</h1>
  <p>Product title is
    <b>{{product.title}}
    </b>
  </p>
  <p>Price is
    <b>{{product.price | money}}
    </b>
  </p>
</div>

{% schema %}
  {
    "name": "t:blocks.header.name",
    "target": "section",
    "templates": ["product"],
    "stylesheet": "playing-app.css",
    "settings": []
  }
{% endschema %}
